<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STMIK LOMBOK</title>
</head>
<body>

    <p><h1>STMIK LOMBOK</h1></p>
    <div>
        <p>==========HASIL LOOPING JINJA=============</p>
        <!--Looping Dengan Jinjay-->
        <p>Daftar Program Studi STMIK Lombok:</p>
        {% for data in prodi %}
        <li>{{ data }}</li> 
        {% endfor %} 
    </div>
    <div>
        <p>==========HASIL PENGKONDISIAN==========</p>
        <!--Condition if/else-->
        {% if jurusan == "Teknik Informatika" %}
        <p>Anda akan menjadi software developer yg keren.!</p>
        {% elif jurusan == "Sistem Informasi" %}
        <p>Anda akan menjadi Arsitektur TI yang expert</p>
        {% elif jurusan == "Bisnis Digital" %}
        <p>Anda akan menjadi CEO lhoo.!</p>
        {% else %}
        <p>Anda salah memasukkan data</p>
        {% endif %}
    </div>
    <div>
        <p>==========HASIL SET VARIABEL==========</p>
        <!--SET VARIABEL-->
        {% set data = "Jurusan Favorit" %}
        <p>{{ data }}</p>
        
    </div>
    <div>
        <p>==========HASIL SET VARIABEL DARI LOOPING JINJAY==========</p>
        {% for data in prodi %}
        {% if data == "Sistem Informasi" %}
        <p>Menjadi Arsitektur yg Keren..!</p>
        {% elif data == "Teknik Informatika" %}
        <p>Anda menjadi pengembang yang jago..!</p>
        {% elif data =="Bisnis Digital" %}
        <p>Anda menjadi CEO lhoo.!</p>
        {% endif %}
        {% endfor %}
       

    </div>
</body>
</html>