<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STMIK LOMBOK</title>
</head>
<body>

    <p><h1>STMIK LOMBOK</h1></p>
    <div>
        <!--Looping Dengan Jinjay-->
        <p>Daftar Program Studi STMIK Lombok:</p>
        {% for data in prodi %}
        <li>{{ data }}</li> 
        {% endfor %} 
    </div>
    <div>
        <!--Condition if/else-->
        {% if jurusan == "Teknik Informatika" %}
        <p>Anda akan menjadi software developer yg keren.!</p>
        {% elif jurusan == "Sistem Informasi" %}
        <p>Anda akan menjadi Arsitektur TI yang expert</p>
        {% elif jurusan == "Bisnis Digital" %}
        <p>Anda akan menjadi CEO lhoo.!</p>
        {% else %}
        <p>Anda salah memasukkan data</p>
        {% endif %}
    </div>
    
</body>
</html>